#about-hero {
  margin-top: 40px;
  height: 100%;
  background-image: url('/assets/images/about-hero.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0;
  display: grid;
  grid-template-rows: 1.5fr 1.5fr 1fr;
}

#about-hero-bar {
  display: none;
}

@media screen and (min-width: 768px) {
  #about-hero {
    height: calc(100vh - 93px);
    margin-top: 93px;
    background-image: url('/assets/images/desktop_about_hero_bg.png');
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #about-hero-bar {
    display: block;
    margin: auto;
    margin-top: 1rem;
    width: 2rem;
    height: 2px;
    background: #a04038;
  }
}

#about-hero-header {
  padding-top: 1rem;
  text-transform: uppercase;
}

#about-hero-header h3 {
  color: #f34e17;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

#about-hero-header h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  color: #f34e17;
  text-align: center;
}

#about-text {
  background: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  letter-spacing: -6%;
  padding: 1.5rem 0.75rem;
}

#desktop-about-text {
  display: none;
}

@media screen and (min-width: 768px) {
  #about-text {
    display: none;
  }

  #desktop-about-text {
    width: 67%;
    background: #fff;
    padding: 2rem 4rem;
    text-align: center;
  }
}

#about-contact {
  padding: 1rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.75rem;
  color: #7a7a7a;
}

#about-contact .email {
  font-weight: 700;
  text-decoration: underline;
}

#about-logo {
  padding: 1rem 0.75rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

#about-logo h2 {
  padding: 1rem 3rem 0 3rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: #2c2c2c;
  letter-spacing: -2%;
}

#about-logo #about-logo-bar {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  text-align: center;
  width: 2rem;
  height: 2px;
  background: #a04038;
}

#about-logo #about-logo-text {
  color: #838383;
  font-size: 0.9rem;
  letter-spacing: -3%;
}

#about-logo #desktop-about-logo-text {
  display: none;
}

@media screen and (min-width: 768px) {
  #about-logo {
    padding-bottom: 5rem;
    border-bottom: 1px solid #d5d5d5;
  }

  #about-logo #about-logo-text {
    display: none;
  }

  #about-logo #desktop-about-logo-text {
    display: block;
    color: #838383;
    font-size: 0.9rem;
    letter-spacing: -3%;
    padding: 0 5rem 2rem 5rem;
  }
}

#about-previous {
  padding: 1rem 0.75rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

#about-previous h2 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #2c2c2c;
  letter-spacing: -2%;
}

#about-previous #about-previous-bar {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 2rem;
  height: 2px;
  background: #a04038;
}

#about-previous #about-previous-text {
  color: #838383;
  font-size: 0.9rem;
  letter-spacing: -3%;
  margin-bottom: 2rem;
}

#about-previous img {
  margin-bottom: 1.5rem;
}

#about-partners {
  background: #414246;
  height: 100%;
  color: #fff;
  padding: 1rem 0.75rem 3rem 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

#about-partners h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

#about-partners #about-partners-bar {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 2rem;
  height: 2px;
  background: #a04038;
}

#about-partners #about-partners-logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.8rem;
}

#footer {
  height: 100%;
  background: #fff;
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#footer img {
  height: 32px;
}

#footer p {
  color: #3b3e45;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
}
