#hero {
  margin-top: 40px;
  height: calc(100vh - 63px);
  background-image: url('../../assets/images/mobile_intro_bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  #hero {
    margin-top: 93px;
    background-image: url('../../assets/images/desktop_hero_bg.png');
    padding-left: 20%;
    padding-right: 30%;
  }
}

#hero-header {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 0.5rem;
}

#hero-header > h3 {
  color: #f34e17;
  font-size: 1.5rem;
}

#hero-header > h1 {
  text-transform: uppercase;
  color: #f91503;
  font-size: 2rem;
  font-weight: 700;
}

#hero article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
  padding-bottom: 2rem;
}

#hero #sub-theme {
  background: #f8f8f8;
  color: #515151;
  font-size: 0.875rem;
  letter-spacing: -1%;
  padding: 1.25rem 0.875rem;
  border: 5px solid #fff;
}

#hero #date-venue {
  padding: 0 0.875rem;
}

#hero #date {
  color: #595959;
  letter-spacing: -8%;
  font-size: 1.5rem;
  font-weight: 700;
}

#hero #venue {
  color: #868686;
  font-size: 1rem;
  letter-spacing: -2%;
}

#program {
  height: 100%;
  background-image: url('../../assets/images/program_bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 1rem 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #fff;
}

@media screen and (min-width: 768px) {
  #program {
    background-image: url('../../assets/images/desktop_program_bg.png');
    padding: 1rem 10%;
  }

  #program h1 {
    margin-bottom: 5px !important;
  }

  #program article ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.2rem;
    text-align: center;
  }
}

#program > header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}

#program h1 {
  font-size: 1.25rem;
  letter-spacing: -4%;
  margin-bottom: 1rem;
}

#program #bar {
  background: #ff5438;
  height: 1px;
  width: 2rem;
}

.program-card {
  margin-bottom: 0.4rem;
  padding: 1rem 0.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  height: 100%;
  box-shadow: inset 0 0 0 1000px rgba(59, 62, 69, 0.55);
}

#program .program-card > img {
  height: 3.125rem;
}

#program .program-card > h3 {
  margin: 0;
  color: #ff5438;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 700;
  letter-spacing: -1%;
  padding: 5px;
}

.program-card > p {
  margin: 0;
  font-size: 0.625rem;
  line-height: 1.5rem;
  letter-spacing: 6%;
  font-weight: 700;
}

#program button {
  margin: 2rem 1rem;
  background: #ff4f38;
  color: #fff;
  border: none;
  padding: 1.25rem 3.125rem;
}

#program #see_program {
  display: none;
}

@media screen and (min-width: 768px) {
  #program article .program-card {
    display: flex;
    flex-direction: column;
  }

  #program #see_program {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
  }

  #program #see_program a {
    text-transform: uppercase;
    color: #fff;
  }
}

#speakers {
  background: #fff;
  height: 100%;
  padding: 1.5rem 0.75rem 3rem 0.75rem;
}

#speakers header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}

#speakers #speakers-bar {
  background: #a04038;
  height: 3px;
  width: 3rem;
}

#speakers .speaker-card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 12px;
}

#speakers ul .desktop-only {
  display: none;
}

@media screen and (min-width: 768px) {
  #speakers ul {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  #speakers ul .desktop-only {
    display: grid;
  }
}

#speakers .speaker-card img {
  height: 6.625rem;
  width: 6.625rem;
  background-size: 100% 100%;
}

#speakers .speaker-card .speaker-name {
  font-size: 1rem;
  letter-spacing: -2%;
}

#speakers .speaker-card .speaker-title {
  color: #f78c89;
  font-size: 0.625rem;
  letter-spacing: -2%;
  margin-bottom: 0.2rem;
}

#speakers .speaker-card .speaker-bar {
  background: #d5d5d5;
  height: 2px;
  width: 2rem;
}

#speakers .speaker-card .speaker-description {
  font-size: 0.5625rem;
  letter-spacing: -6%;
  font-weight: 700;
  margin-top: 0.5rem;
}

#speakers button {
  width: 100%;
  background: #fff;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  padding: 0.75rem;
  font-size: 0.6875rem;
}

#speakers button i {
  margin-left: 0.5rem;
  color: #ff5438;
}

#home-partners {
  display: none;
}

@media screen and (min-width: 768px) {
  #home-partners {
    background: #414246;
    height: 100%;
    color: #fff;
    padding: 1rem 0.75rem 3rem 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
  }

  #home-partners h2 {
    font-size: 1.25rem;
    font-weight: 500;
  }

  #home-partners #home-partners-bar {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    width: 2rem;
    height: 2px;
    background: #a04038;
  }

  #home-partners #home-partners-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.8rem;
  }
}

#footer {
  display: none;
}

@media screen and (min-width: 768px) {
  #footer {
    height: 100%;
    background: #fff;
    padding: 2rem 20%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 2rem;
  }

  #footer img {
    height: 64px;
  }

  #footer p,
  #footer span {
    color: #3b3e45;
    font-weight: 700;
    font-size: 10px;
  }
}
